<!DOCTYPE html>
<html lang="en" xmlns:th = "http://www.thymleaf.org">
<head>
    <meta charset="UTF-8">
    <title>회원상세조회 member-detail</title>
</head>
<body>
    <div th:replace="member/header :: headerFragment"></div>

    <table>
        <tr><td>ID : </td><td th:text="${member.id}"></td></tr>
        <tr><td>name : </td><td th:text="${member.name}"></td></tr>
        <tr><td>email : </td><td th:text="${member.email}"></td></tr>
        <tr><td>password : </td><td th:text="${member.password}"></td></tr>
        <tr><td>created_time : </td><td th:text="${member.createdTime}"></td></tr>

    </table>

<!--    <table>-->
<!--        <div action="/member/${id}" method="post"></div>-->
<!--        <tr><th>id</th><th>이름</th><th>이메일</th></tr>-->
<!--        <tr>-->
<!--            <td th:text="${member.id}"></td>-->
<!--            <td th:text="${member.name}"></td>-->
<!--            <td th:text="${member.email}"></td>-->
<!--            <td th:text="${member.password"></td>-->
<!--        </tr>-->
<!--    </table>-->

</body>
</html>