<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>axios-json-file-view</title>
</head>
<body>
    <form id="form-view">

        이름 : <input type="text" name="name" id="name"> <br>
        email : <input type="email" name="email" id="email"> <br>
        password : <input type="password" name="password" id="password"> <br>
        신분증 : <input type="file" name="file" id="file">
        <input type="submit" value="제출">

    </form>

    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script>
        document.getElementById('form-view').addEventListener('submit',
            async function (event) {
                event.preventDefault();
                const name = document.getElementById('name').value;
                const email = document.getElementById('email').value;
                const password = document.getElementById('password').value;
                const hello = {name:name, email:email, password:password};
                const helloJson = JSON.stringify(hello); // js객체를 JSON 문자열로 변환한다.

                const fileInput = document.getElementById('file');
                const file = fileInput.files[0]; //file은 배열형태로 get 된다. '.files' 함수를 통해서 0번째 값을 뽑아옴 (어차피 1개 밖에없어서 0번째 가져오면 됨)

                const formData = new FormData();
<!--                formData.append('hello', helloJson);-->
                formData.append('hello', new Blob([helloJson], {type:"application/json"}));
                formData.append('file', file);

                try {
                    const response = await axios.post('http://localhost:8080/hello/axios-json-file-view', formData,
                                    {headers: {'Content-Type' : 'multipart/form-data'}});
                    console.log(response.data);
                } catch (e) {
                    console.log(e.message);
                }
            }
        )
    </script>

</body>
</html>