<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>회원가입</title>
</head>
<body>
<form action="/hello/form-post1" method="post" enctype="application/x-www-form-urlencoded">
    <!--    사용자에게 name, email, password를 입력할 수 있는 화면을 주는 메서드 정의-->
    <!--    메서드명 : formView, 화면명 : form-view-->
    <!--  id : lable과 매핑  -->

    이름 : <input type="text" name="name" size="20" maxlength="20"> <br><br>

    email : <input type="email" name="email" size="20" maxlength="20"> <br><br>

    password : <input type="password" name="password" size="20" maxlength="20">

    <input type="submit" value="제출">

</form>

</body>
</html>