<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.beyond.basic.repository.MemberMybatisRepository">
    <!-- MemberMybatisRepository와 연결지음. -->
    <select id="findAll" resultType="com.beyond.basic.domain.Member">
    <!-- MemberMybatisRepository의 findAll()과 매핑-->
        select * from member;
    </select>
    <select id="findById" resultType="com.beyond.basic.domain.Member" parameterType="Long">
        select * from member where id = #{id};
    </select>
<!--    mybatis에서 insert는 기본적으로 리턴타입 제공하지 않음  => insert 대신 select 사용  -->
    <select id="save" resultType="com.beyond.basic.domain.Member">
        insert into member(name, email, password) values(#{name}, #{email}, #{password});
    </select>
</mapper>